<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
</head>
<body>

    <div class="container">
        <h1>Simple Weather</h1>
        <form action="/" method="post">
            <input id="cityInput" type="text" name="city" placeholder="city..." value="<%= citySearch %>" required>
            <button class="button-search" type="submit"><i class="ph-bold ph-magnifying-glass"></i></button>
        </form>
    </div>

    <% if (locals.data) { %>
        <div class="con-result">
            <h1><%= data.name %>, <%= data.sys.country %></h1>
             <h1><%= Math.floor(data.main.temp) %>° <i class="ph ph-thermometer-simple"></i></h1>
             <p>Feels like: <%= Math.floor(data.main.feels_like) %>°</p>
             <p><%= data.weather[0].description %></p>

             <div class="details">
                <div class="box">
                    <i class="ph ph-wind"></i>
                    <p><%= data.wind.speed %> km/h</p>
                    <small>wind</small>
                </div>
                <div class="box">
                    <i class="ph ph-drop"></i>
                    <p><%= data.main.humidity %>%</p>
                    <small>humidity</small>
                </div>
             </div>
         </div>
    <% } %>

    <footer><small>Gabriel Vidal - 2025</small></footer>

</body>
</html>